{% macro render_field(field) %}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
{% macro render_field_with_label(field) %}
    {% if field.type == "BooleanField" %}
        <dt>{{ field(**kwargs)|safe }}{{ field.label }}
    {% else %}
        <dt>{{ field.label }}
        <dd>{{ field(**kwargs)|safe }}
    {% endif %}
    {% if field.errors %}
        <ul class=errors>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    </dd>
{% endmacro %}
